.header-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 75, 173, 0.271);
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; // Ensure video stays behind other content
}

/////////////////////////////////////////////////////////NAV BAR////////////////////////////////////////////////////////////

.header-grid {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 0;
  padding-top: 20px;
  z-index: 1000;
}

.nav-slide {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid_logo {
  display: flex;
  justify-content: right;
  mix-blend-mode: multiply;

  img {
    mix-blend-mode: multiply;
    border-radius: 10px;
    height: 60px;
    width: 180px;
  }
}

.nav-slide .nav-bar {
  position: relative;
  animation: topnav 2s 1;

  @keyframes topnav {
    from {
      top: -100px;
    }

    to {
      top: 0px;
    }
  }
}

.nav-bar {
  display: flex;
  justify-items: right;
  align-items: center;
  color: rgba(255, 255, 255, 0.925);
  gap: 40px;
}

.nav-bar a {
  font-family: "Gabarito", sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  padding: 10px 0px;
  position: relative;
  letter-spacing: 2.5px;
}

.nav-bar a:after {
  background: none repeat scroll 0 0 transparent;
  border-radius: 100px;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  z-index: 10;
  position: absolute;
  background: #5de1e9;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

/////////////////////////////////////////////////////////HEADER TEXT////////////////////////////////////////////////////////////
.viewport-header {
  position: relative;
  display: flex;
  row-gap: 60px;
  flex-direction: column;
  height: 80vh; // Fills the entire viewport
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  h1 {
    //  font-family: 'Syncopate', sans-serif;
    // font-family: "Merriweather", serif;
    //font-family: "Arimo", sans-serif;
    font-family: "Cinzel", serif;
    color: #004aad;
    text-transform: uppercase;
    letter-spacing: 1.2vw;
    line-height: 1.2;
    //font-size: 6vw;
    font-size: 3.5vw;
    text-align: center;

    span {
      //font-family: "Merriweather", serif;
      font-weight: 900;
      display: block;
      //font-size: 8vw;
      font-size: 4vw;
      letter-spacing: 1.3vw;
    }
  }
}

.bottom_header {
  overflow: hidden;
  // margin-top: 10px;
}

.bottom_header header {
  position: relative;
  animation: mymove 2s 1;
  border: solid;
  border-color: #004aad;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  border-width: 3px 3px 3px 0px;

  @keyframes mymove {
    from {
      left: -200px;
    }

    to {
      left: 0px;
    }
  }
}

.top_header {
  overflow: hidden;
  // margin-bottom: 10px;
}

.top_header header {
  position: relative;
  padding: 10px 0px 10px 10px;
  animation: left 2s 1;
  border: solid;
  border-radius: 10px 0px 0px 10px;
  border-color: #004aad;
  border-width: 3px 0px 3px 3px;

  @keyframes left {
    from {
      right: -200px;
    }

    to {
      right: 0px;
    }
  }
}

.border_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 0.5px;
  background-color: #5de1e9;
  width: 13ch;
  height: 1px;
  transform-origin: center;
  animation: border 3s forwards;

  @keyframes border {
    0% {
      transform: scaleX(0);
    }

    50% {
      transform: scaleX(1);
    }

    100% {
      transform: scaleX(0);
    }
  }
}

.transparent_div {
  border-radius: 10px;
  background-color: #ffffffcb;
  padding: 0px 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  

  // position: relative;
  // overflow: hidden;

  .back_logo {
    //  position: absolute;
    //   mix-blend-mode: multiply;
    margin-top: 15px;
    left: 160px;
    height: 180px;
    width: 150px;
    // padding-right: 15px;
  }

  h1 {
    margin-bottom: 0px;
  }

  p {
    font-family: "Syncopate", sans-serif;
    font-weight: 520;
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;
    letter-spacing: 10px;
    color: #004badcc;
    font-size: 10px;
    margin: 10px 0px 20px 0px;
  }
}

.flex_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_content {
  overflow: hidden;

  span {
    font-family: "Syncopate", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.578);
  }
}

.bottom_content span {
  position: relative;
  animation: bottom 2s 1;

  @keyframes bottom {
    from {
      bottom: -100px;
    }

    to {
      bottom: 0px;
    }
  }
}

/////////////////////About US/////////////////////////////////
///
#aboutus {
  scroll-behavior: smooth;
}

.aboutus_flex {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-grow: 1;
  max-width: 1100px;
}

.aboutus_flex_reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  flex-grow: 1;
  max-width: 1100px;
  flex-direction: row-reverse;
}

.image_about {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.photo-style {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 20px 20px 0px 20px;
  text-align: center;

  .mam {
    padding: 20px 20px 0px 20px;
  }

  img {
    height: 350px;
    width: 250px;
  }

  p {
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin: 5px 0px;
  }
}

.about_content_reverse {
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  border-color: gray;
  border-width: 5px 0px 5px 5px;

  h2 {
    margin: 0px;
    font-family: "Cinzel", serif;
    font-weight: 350;
    font-size: 40px;
    color: #004aad;
  }

  p {
    //padding-left: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450px;
    color: rgb(102, 100, 100);
    line-height: 1.5;
    font-size: 21px;
  }

  b {
    color: #004aad;
  }

  span {
    font-weight: bold;
  }
}

.about_content {
  flex-grow: 1;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  border-color: gray;
  border-width: 5px 5px 5px 0px;

  h2 {
    margin-bottom: 20px;
    font-family: "Cinzel", serif;
    font-weight: 350;
    font-size: 40px;
    color: #004aad;
  }

  p {
    padding-left: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450px;
    color: rgb(102, 100, 100);
    line-height: 1.5;
    font-size: 21px;
  }
}

.about_container {
  display: flex;
  justify-content: center;

  .aboutus_flex {
    animation: fadeOut linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .aboutus_flex_reverse {
    animation: fadeOutReverse linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeOutReverse {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 50px;
  color: #004aad;
}

.aboutus {
  position: relative;
}

.anim {
  position: absolute;
  z-index: 1000;
  top: 300px;
  left: 100px;
  height: 150px;
  width: 150px;
}

.anime {
  position: absolute;
  z-index: 1000;
  bottom: 160px;
  right: 100px;
  height: 200px;
  width: 200px;
}

.services_container {
  display: flex;
  position: relative;
  justify-content: center;
}

.services {
  max-width: 1400px;
  margin: 70px 50px;
  display: flex;
  flex-direction: column;
  animation: zoomin linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

  @keyframes zoomin {
    from {
      opacity: 0;
      scale: 0.5;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }
}

.service_list {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
  gap: 50px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      color: #004badaa;
      font-family: "Lexend", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      letter-spacing: 0.5px;
      margin: 0px;
      //padding: 10px;
    }
  }

  p:hover {
    color: #5de1e9;
    /* Change text color on hover */
  }

  .hover_line {
    height: 1px;
    background-color: #004aad;
    width: 0;
    transition: width 0.3s ease;
    /* Smooth expansion */
    transform-origin: center;
    /* Set the origin to the center */
    margin: 5px auto;
    /* Center the line */
  }

  p:hover+.hover_line {
    width: 100%;
    /* Expand from the center */
  }
}

.service_detail_container {
  margin-top: 20px;
  //box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  //box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
}

.service_Detail_header {
  // background-color: #004AAD;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;

  h2 {
    font-family: "Cinzel", serif;
    color: #004aad;
    font-weight: 350;
  }
}

.service_cards_container {
  margin: 30px 0px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-height: 680px;
  overflow-y: scroll;
}

.service_cards_container::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

.service_cards_container::-webkit-scrollbar-thumb {
  background: #004aad;
  border-radius: 5px;
}

.service_cards_container::-webkit-scrollbar-track {
  background: transparent;
}

.service-card {
  display: flex;
  flex-basis: 44%;
  gap: 0px;
  padding: 20px;
  animation: zoomScroll 2s linear 0s 1 normal none running view();
}

.zoom_in {
  animation: zoom 0.2s linear;
}

@keyframes zoom {
  from {
    scale: 0.9;
    opacity: 0.3;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes zoomScroll {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: rotate(-5deg);
  transform-origin: center;

  img {
    height: 250px;
    width: 180px;
  }
}

.service_card_img_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  background: -webkit-linear-gradient(20deg, #fff 20%, #74e5ec);
  //box-shadow: rgba(0, 0, 0, 0.123) 0px 25px 20px -30px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -30px;
  border-radius: 0px 10px 10px 0px;
  //  margin: 10px 0px 20px 0px;

  span {
    color: #004aad;
    cursor: pointer;
  }

  h3 {
    margin: 0px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004badd8;
  }

  p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(102, 100, 100);
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px 0px 0px;
  }
}

.selected-service {
  .selected-text {
    color: #5de1e9;
    /* Change text color on hover */
  }

  .selected-line {
    height: 1px;
    background-color: #004aad;
    width: 100%;
    margin: 5px auto;
    /* Center the line */
  }
}

.service_header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;;

  p{
    width: 90%;
    text-align: center;
    color: rgba(147, 148, 148, 0.9019607843);
    font-family: "Anton", sans-serif;
    font-weight: 430;
    font-style: normal;
    letter-spacing: 1px;
    margin: 8px 0px;
    font-size: 17px;
  }
}

//OUR TEAM CSS//////

.our_team_container {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .our_team {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .our_team_header {
      animation: scaleOpacityAnime linear;
      animation-timeline: view();
      animation-range: entry 0% cover 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;

      p{
        width: 90%;
        text-align: center;
        color: #939494e6;
        font-family: "Anton", sans-serif;
        font-weight: 430;
        font-style: normal;
        letter-spacing: 1px;
        margin: 8px 0px;
        font-size: 17px;
      }
    }

    .our_team_facility {
      display: flex;
      gap: 50px;
      max-width: 1000px;

      .our_team_img {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
          rgb(209, 213, 219) 0px 0px 0px 1px inset;
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        padding: 10px;
        background-color: #fff;
        animation: scaleOpacityAnime linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;

        img {
          height: 250px;
          width: 190px;
        }

        h4 {
          color: #004aad;
          text-align: center;
          margin: 5px 0px 0px 0px;
          font-family: "Yesteryear", cursive;
          font-weight: 300;
          font-size: 28px;
        }

        p {
          text-align: center;
          color: #5c5d5ee6;
          font-family: "Anton", sans-serif;
          font-weight: 450;
          font-style: normal;
          letter-spacing: 1px;
          margin: 8px 0px;
          font-size: 13px;
        }
      }

      .our_team_details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        animation: translateXAnimation linear;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;

        h2{
          margin: 0px;
          font-family: "Lexend", sans-serif;
          font-weight: 550;
          font-size: 20px;
          color: #004aad;
        }

        p {
          padding-left: 8px;
          font-family: "Josefin Sans", sans-serif;
          font-optical-sizing: auto;
          font-weight: 450px;
          color: rgb(102, 100, 100);
          line-height: 1.3;
          font-size: 21px;
        }
      }
    }

    //OUR
    .our_team_content {
      margin: 50px 0px;
      display: flex;
      gap: 50px;
      justify-content: center;
      flex-wrap: wrap;

      .our_team_border {
        background: rgb(93, 225, 233);
        background: linear-gradient(180deg,
            rgba(93, 225, 233, 1) 0%,
            rgba(255, 255, 255, 1) 76%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 0px;

        .our_team_img {
          padding: 4px;
          background-color: #fff;
          border-radius: 1000px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          animation: scaleOpacityAnime linear;
          animation-timeline: view();
          animation-range: entry 0% cover 30%;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 120px;
          width: 120px;
          border-radius: 1000px;
        }

        h4 {
          //  color: #004AAD;
          color: #004aad;
          text-align: center;
          margin: 5px 0px 0px 0px;
          font-family: "Yesteryear", cursive;
          font-weight: 300;
          font-size: 20px;
          font-style: normal;
        }

        p {
          text-align: center;
          color: #8c8c8db9;
          font-family: "Anton", sans-serif;
          font-weight: 400;
          font-style: normal;
          letter-spacing: 1px;
          margin: 0px 0px 0px 0px;
          font-size: 12px;
        }
      }
    }

    .our_team_border:hover {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
      transition: all 0.1s linear;
      scale: 1.02;
    }
  }

  @keyframes translateXAnimation {
    from {
      opacity: 0.5;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes scaleOpacityAnime {
    from {
      opacity: 0.5;
      scale: 0.5;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }
}

//////FOOTER//////////
.footer {
  color: white;
  border-radius: 30px 30px 0px 0px;
  margin-top: 100px;
  background-image: url("../layered-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: transform 10s ease;
  animation: translateXAnimationFooter linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes translateXAnimationFooter {
  from {
    scale: 0.5;
    transform: translateY(300px);
  }

  to {
    scale: 1;
    transform: translateY(0px);
  }
}

.footer_flex {
  padding: 30px 60px 0px 60px;
}

.footer_div {
  display: grid;
  grid-template-areas:
    "left left left right"
    "bleft bleft bleft right"
    "footer footer footer footer";
    gap: 30px;
}

.header_test {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  h5 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(119, 118, 118);
    margin: 20px 0px 20px 10px;
    text-align: left;
  }

  h1 {
    font-family: "Cinzel", serif;
    font-weight: 350;
    font-size: 60px;
    color: #004aad;
    margin: 0px 0px 20px 0px;
    text-align: left;
  }

  .contact {
    display: flex;
    gap: 10px;

    p {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 450;
      font-size: 28px;
      color: rgb(119, 118, 118);
      text-align: left;
      margin: 0px 0px 10px 0px;
      letter-spacing: 2px;
      cursor: pointer;
    }

    p:hover {
      color: #004aad;
    }

    img {
      height: 24px;
    }
  }
}

.footer_aboutus_container {
  grid-area: bleft;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  flex-wrap: wrap;


  .footer_aboutus {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: left;
    align-items: left;

    img {
      border-radius: 5px;
      height: 60px;
    }

    p {
      text-align: left;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .socia_icons {
    img {
      height: 25px;
      color: #fff;
      padding-right: 18px;
      cursor: pointer;
    }

    img:hover {
      transition: all 0.2s linear;
      scale: 1.1;
    }
  }

  .address {
    width: 300px;

    .map-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    
      .map-image {
        width: 130px;  // Set width and height to the same value to make it round
        height: 130px;
        border-radius: 50%;  // Makes the image round
        object-fit: cover;  
        cursor: pointer;// Ensures the image covers the container while maintaining aspect ratio
      }
    }

    .address_flex {
      display: flex;
      gap: 10px;
      justify-content: center;

      img {
        height: 25px;
        cursor: pointer;
      }

      img:hover {
        transition: all 0.2s linear;
        scale: 1.1;
      }
    }

    h4 {
      margin: 10px 0px 0px 0px;
      font-family: "Josefin Sans", sans-serif;
    }

    p {
      line-height: 23px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 200;
      margin-bottom: 0px;
    }
  }

  .working_hours {
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;

    h4 {
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
    }

    div {
      p {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

.footer_container_right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;


  .message_header {
    padding: 20px 0px 0px 20px;

    p {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 30px;
    }
  }

  .message_box_conrtainer {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: #fff;
  }
}

.footer_social {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 30px;

  p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }
}

.textfield_div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

////////////////////////////////MEDIA QUERY///////////////////////////////